.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 20px;
}

.logo img {
  width: 300px; /* Adjust as needed */
  height: auto;
}

.logo h2 {
  font-size: 1.2rem;
  color: #003366;
  margin: 0;
}

.company-name {
  color: #ff7f27; /* Orange color for "GOKADDAL" */
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 30px;
  /* Ensure no extra margin here */
  margin-left: 0;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #0073e6;
}

.auth-links {
  display: flex;
  gap: 10px;
}

.auth-links a {
  color: #0073e6;
  text-decoration: none;
  font-weight: 500;
}

.auth-links a:hover {
  text-decoration: underline;
}
