<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items in [[${category}]]</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
	<h1>Items in [[${categoryName}]]</h1>
    <form action="/calculate-roi" method="post">
        <input type="hidden" name="category" th:value="${category}">
        <div class="item-list">
            <ul>
                <li th:each="item : ${items}">
                    <b th:text="${item.name}"></b><br>
                    <p th:text="${item.description}"></p>
                    <label>Quantity:</label>
                    <input type="hidden" name="itemIds" th:value="${item.id}">
                    <input type="number" name="quantities" value="1" min="0"><br>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label for="years">Investment Period (Years):</label>
            <input type="number" id="years" name="years" value="1" min="1">
        </div>
        <button type="submit" class="submit-btn">Calculate ROI</button>
    </form>
</body>
</html>
