<!DOCTYPE html>
<html>
<head>
    <title>Smart Retail Industry Solutions</title>
</head>
<body>
    <h1>Smart Retail Industry Solutions</h1>
    <div>
        <a href="/category?category=Smart Store">Smart Store</a>
        <a href="/category?category=Smart Delivery">Smart Delivery</a>
        <a href="/category?category=Smart Logistics">Smart Logistics</a>
        <a href="/category?category=Smart Inventory Management">Smart Inventory Management</a>
        <a href="/category?category=Smart Customer Analytics">Smart Customer Analytics</a>
        <a href="/category?category=Smart Pricing">Smart Pricing</a>
    </div>
</body>
</html>
